 <input type="checkbox">
    <h2><%= @todo_description %></h2>
    <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
    <a href="#">Edit</a>
    <a href="#">Delete</a>
    <a href="../index">Go back...</a>
    <h3>Todo #<%= params[:id] %></h3>